<div class="layui-card-header layui-card">
    <span class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">首页</a>
        <a><cite>支付配置</cite></a>
    </span>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">支付产品</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-row">
                    <div class="layui-form" style="float:left; margin-bottom: 10px;">
                    <div class="layuiAdmin-btns" style="margin-bottom: 10px;">
                        <a lay-href="config/pay_product/create" class="layui-btn" data-type="all" data-events="create">新增支付产品</a>
                    </div>
                    <div class="layui-input-inline">
                        <select name="productId" id="productId" lay-search="">
                            <option value="-99">支付产品</option>
                        </select>
                    </div>
                        <div class="layui-input-inline">
                            <select name="type" id="productType" placeholder="产品类型" lay-search="">
                                <option value="-99">产品类型</option>
                                <option value="1">收款</option>
                                <option value="2">充值</option>
                            </select>
                        </div>
                        <button id="search" class="layui-btn" data-type="reload">搜索</button>
                     </div>
                </div>
                <table class="layui-hide center" id="cList"></table>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['table','util', 'form','admin'], function(){
        var table = layui.table
        ,$ = layui.$
        ,form = layui.form
            , admin = layui.admin
        ,element = layui.element;

        element.render('breadcrumb', 'breadcrumb');//渲染导航信息

        //标题内容模板
        var tplTitle = function(d){
            return '<a class="layui-btn layui-btn-sm" lay-href="config/pay_product/update/id='+ d.id +'">编辑</a>'
        };

        var tplStatus = function(d){
            if(d.status == 0) {
                return '<span class="layui-badge layui-bg-gray">关闭</span>';
            }else if(d.status == 1) {
                return '<span class="layui-badge">开启</span>';
            }
        };

        var tplProductType = function(d){
            if(d.productType == 1) {
                return '收款';
            }else if(d.productType == 2) {
                return '充值';
            }else {
                return '';
            }
        };

        var tplIfMode = function(d){
            if(d.ifMode == 1) {
                return "单独";
            }else if(d.ifMode == 2) {
                return "<span style='color: red'>轮询</span>";
            }
        };

        var tplMchRate = function(d){
            if(d.mchRate == '' || d.mchRate == null) {
                return "未设置";
            }else {
                return "<span style='color: blue'>"+ d.mchRate+"%<span>";
            }
        };

        var tplAgentRate = function(d){
            if(d.agentRate == '' || d.agentRate == null) {
                return "未设置";
            }else {
                return "<span style='color: blue'>"+ d.agentRate+"%<span>";
            }
        };


        var tplpayPassageRate = function(d){
            if(d.payPassageRate == '' || d.payPassageRate == null) {
                return "未设置";
            }else {
                return "<span style='color: blue'>"+ d.payPassageRate+"%<span>";
            }
        };


        table.render({
            elem: '#cList'
            ,url: layui.setter.baseUrl + '/config/pay_product/list'
            ,where: { access_token: layui.data(layui.setter.tableName).access_token}
            ,id: 'tableReload'
            ,cols: [[
                {field:'id', title: '产品ID'}
                ,{field:'productName', title: '产品名称'}
                ,{field:'productType', title: '产品类型', templet: tplProductType}
                ,{field:'payTypeName',  title: '支付类型'}
                ,{field:'payPassageRate', width: 150, title: '产品费率',templet:tplpayPassageRate}
                ,{field:'agentRate', width: 150, title: '代理商费率',templet: tplAgentRate}
                ,{field:'mchRate', width: 150, title: '商户费率',templet: tplMchRate}
                ,{field:'ifMode', width: 150,  title: '接口模式',templet: tplIfMode}
                ,{field:'status', title: '状态',templet: tplStatus }
                ,{field:'edite', width: 200, title: '操作', templet: tplTitle }
            ]]
            ,page: true
            ,skin: 'line'
        });

        // 加载支付产品
        admin.req({
            type: 'post',
            url: layui.setter.baseUrl + '/config/common/pay_product_all',
            error: function (err) {
                layer.alert(err);
            },
            success: function (res) {
                if (res.code == 0) {
                    var payProductList = res.data;
                    //遍历赋值
                    for (var i in payProductList) {
                        $("#productId").append('<option value= ' + payProductList[i].id + '>' + payProductList[i].productName + '</option>');
                    }
                    form.render('select');
                }
            }
        });

        // 搜索
        var $ = layui.$, active = {
            reload: function () {
                var productId = $('#productId').val();
                var productType = $('#productType').val();
                //执行重载
                table.reload('tableReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        id: productId,
                        productType:productType
                    }
                });
            }
        };

        $('#search').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        // 渲染表单
        form.render();

    });
    
</script>
