<div class="layui-card-header layui-card">
    <span class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">首页</a>
        <a><cite>支付配置</cite></a>
    </span>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">支付通道账户</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-row">
                    <div class="layuiAdmin-btns" style="margin-bottom: 10px;">

                        <select name="status" id="status" lay-search="" style="width: 180px; float: left;margin-right: 10px" class="layui-input" >
                            <option value="-99">账户状态</option>
                            <option value="1">开启</option>
                            <option value="0">关闭</option>
                        </select>
                        &nbsp &nbsp &nbsp
                        <input type="text" id="accountName" name="accountName" placeholder="账户名称" class="layui-input" style="width: 180px; float: left;">
                        &nbsp
                        <button id="search" class="layui-btn" data-type="reload" >搜索</button>
                        &nbsp&nbsp
                        <button class="layui-btn" data-type="all" data-events="create">新增账户</button>
                        &nbsp&nbsp
                        <button class="layui-btn" data-type="all" id="openPassageAccountStatus"
                                name="savePassageAccountStatus" value="1">批量开启
                        </button>
                        &nbsp&nbsp
                        <button class="layui-btn" data-type="all" id="closePassageAccountStatus"
                                name="savePassageAccountStatus" value="0">批量关闭
                        </button>
                    </div>
                </div>
                <table id="cList" lay-filter="cList"></table>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['table', 'util', 'form'], function () {
        var table = layui.table
            , $ = layui.$
            , admin = layui.admin
            , form = layui.form
            , element = layui.element;

        element.render('breadcrumb', 'breadcrumb');//渲染导航信息

        var router = layui.router();
        var payPassageId = router.search.payPassageId;

        var tplEdit = function (d) {

            var appendHtml = "";
            if (d.ifCode == 'alipay_qr_pc' || d.ifCode == 'alipay_qr_h5' || d.ifCode == 'alipay_mobile') {

            }
            appendHtml = "<a class='layui-btn layui-btn-primary layui-btn-xs' lay-event='coll'>分账配置</a>";
            return "<a class='layui-btn layui-btn-primary layui-btn-xs' lay-event='risk'>风控</a>" +
                appendHtml +
                "<a class='layui-btn layui-btn-xs' lay-event='edit'>编辑</a>";
        };

        var tplStatus = function (d) {
            if (d.status == 0) {
                return "关闭";
            } else if (d.status == 1) {
                return "<span style='color: green'>开启</span>";
            }
        };

        var tplRate = function (d) {
            return "<span style='color: blue'>" + d.passageRate + "%</span>";
        };

        table.render({
            elem: '#cList'
            , url: layui.setter.baseUrl + '/config/pay_passage_account/list'
            , where: {access_token: layui.data(layui.setter.tableName).access_token, payPassageId: payPassageId}
            , id: 'tableReload'
            , initSort: {
                field: 'totalAmount' //排序字段，对应 cols 设定的各字段名
                , type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
            , cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: '账户ID'}
                , {field: 'accountName', title: '账户名称'}
                , {field: 'ifCode', title: '接口代码'}
                , {field: 'ifName', title: '接口名称'}
                , {field: 'status', title: '账户状态', templet: tplStatus, sort: true,}
                , {field: 'totalAmount', title: '今日交易金额', sort: true,}
                , {field: 'passageRate', title: '通道费率', templet: tplRate}
                , {field: 'edite', width: 260, title: '操作', templet: tplEdit}
            ]]
            , page: true
            , skin: 'line'
            , limit: 10
        });

        //监听工具条
        table.on('tool(cList)', function (obj) {
            var data = obj.data;
            if (obj.event === 'risk') {
                location.href = layui.setter.baseLocal + "config/pay_passage_account/risk_set/id=" + data.id;
            } else if (obj.event === 'edit') {
                location.href = layui.setter.baseLocal + "config/pay_passage_account/update/id=" + data.id;
            } else if (obj.event === 'coll') {
                location.href = layui.setter.baseLocal + "config/pay_passage_account/cash_coll_set/id=" + data.id;
            }
        });

        // 事件处理
        var events = {
            create: function (othis, type) {
                location.hash = "/config/pay_passage_account/create/payPassageId=" + payPassageId;
            }
        };
        $('.layuiAdmin-btns .layui-btn').on('click', function () {
            var othis = $(this)
                , thisEvent = othis.data('events')
                , type = othis.data('type');
            events[thisEvent] && events[thisEvent].call(this, othis, type);
        });

        // 渲染表单
        form.render();

        $("[name='savePassageAccountStatus']").off().on("click", function () {

            var status = $(this).val();
            $('#reNotify').attr('disabled', true);
            var load = layer.msg('重新发送中...', {
                icon: 16
                , shade: 0.01
                , time: 9999999999
            });

            var ids = [];
            var errorMsg = "";
            $.each(table.cache.tableReload, function () {
                var thisObject = $(".layui-table tr[data-index='" + this.LAY_TABLE_INDEX + "'] input[name='layTableCheckbox']");
                if (thisObject.is(':checked')) { //勾选状态
                    ids.push(this.id);
                }
            });

            if (errorMsg) return layer.alert(errorMsg);
            if (ids.length <= 0) return layer.alert("请勾选需要重发的订单！");

            admin.req({
                type: 'post',
                url: layui.setter.baseUrl + '/config/pay_passage_account/saveStatus',
                timeout: 1000 * 60,
                data: {ids: JSON.stringify(ids), status: status},
                error: function (err) {
                    layer.close(load);
                    layer.alert(err);
                },
                success: function (res) {
                    layer.close(load);
                    if (res.code == 0) {
                        debugger;
                        if (res.msg == 'success') {
                            layer.alert("操作成功");
                        } else {
                            layer.alert("操作失败");
                        }

                        $(this).attr('disabled', false);
                    }
                }
            });

        });

        form.on('checkbox(mchNotifyAllChoose)', function () {

            var isChecked = $('input[lay-filter="mchNotifyAllChoose"]').is(':checked');

            $.each(table.cache.tableReload, function () {

                if (this.status == '2') {
                    return true;
                }
                var thisObject = $(".layui-table tr[data-index='" + this.LAY_TABLE_INDEX + "'] input[name='layTableCheckbox']");
                if (isChecked) {
                    thisObject.prop("checked", true);
                } else {
                    thisObject.removeAttr("checked");
                }
            });
            form.render();
            return false;
        });


        // 搜索
        var $ = layui.$, active = {
            reload: function () {
                var accountName = $('#accountName').val();
                var status = $('#status').val();


                //执行重载
                table.reload('tableReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        accountName: accountName,
                        status:status
                    }
                });
            }
        };

        $('#search').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

</script>
