<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xxpay.service.dao.mapper.AgentAgentpayPassageMapper" >
  <resultMap id="BaseResultMap" type="org.xxpay.core.entity.AgentAgentpayPassage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="AgentId" property="agentId" jdbcType="BIGINT" />
    <result column="AgentpayPassageId" property="agentpayPassageId" jdbcType="INTEGER" />
    <result column="FeeEvery" property="feeEvery" jdbcType="BIGINT" />
    <result column="Status" property="status" jdbcType="TINYINT" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, AgentId, AgentpayPassageId, FeeEvery, Status, CreateTime, UpdateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.xxpay.core.entity.AgentAgentpayPassageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_agent_agentpay_passage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_agent_agentpay_passage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_agent_agentpay_passage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.xxpay.core.entity.AgentAgentpayPassageExample" >
    delete from t_agent_agentpay_passage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.xxpay.core.entity.AgentAgentpayPassage" >
    insert into t_agent_agentpay_passage (id, AgentId, AgentpayPassageId, 
      FeeEvery, Status, CreateTime,
      UpdateTime)
    values (#{id,jdbcType=INTEGER}, #{agentId,jdbcType=BIGINT}, #{agentpayPassageId,jdbcType=INTEGER}, 
      #{feeEvery,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.xxpay.core.entity.AgentAgentpayPassage" >
    insert into t_agent_agentpay_passage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="agentId != null" >
        AgentId,
      </if>
      <if test="agentpayPassageId != null" >
        AgentpayPassageId,
      </if>
      <if test="feeEvery != null" >
        FeeEvery,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="agentId != null" >
        #{agentId,jdbcType=BIGINT},
      </if>
      <if test="agentpayPassageId != null" >
        #{agentpayPassageId,jdbcType=INTEGER},
      </if>
      <if test="feeEvery != null" >
        #{feeEvery,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.xxpay.core.entity.AgentAgentpayPassageExample" resultType="java.lang.Integer" >
    select count(*) from t_agent_agentpay_passage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_agent_agentpay_passage
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.agentId != null" >
        AgentId = #{record.agentId,jdbcType=BIGINT},
      </if>
      <if test="record.agentpayPassageId != null" >
        AgentpayPassageId = #{record.agentpayPassageId,jdbcType=INTEGER},
      </if>
      <if test="record.feeEvery != null" >
        FeeEvery = #{record.feeEvery,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        Status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        CreateTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UpdateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_agent_agentpay_passage
    set id = #{record.id,jdbcType=INTEGER},
      AgentId = #{record.agentId,jdbcType=BIGINT},
      AgentpayPassageId = #{record.agentpayPassageId,jdbcType=INTEGER},
      FeeEvery = #{record.feeEvery,jdbcType=BIGINT},
      Status = #{record.status,jdbcType=TINYINT},
      CreateTime = #{record.createTime,jdbcType=TIMESTAMP},
      UpdateTime = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.xxpay.core.entity.AgentAgentpayPassage" >
    update t_agent_agentpay_passage
    <set >
      <if test="agentId != null" >
        AgentId = #{agentId,jdbcType=BIGINT},
      </if>
      <if test="agentpayPassageId != null" >
        AgentpayPassageId = #{agentpayPassageId,jdbcType=INTEGER},
      </if>
      <if test="feeEvery != null" >
        FeeEvery = #{feeEvery,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.xxpay.core.entity.AgentAgentpayPassage" >
    update t_agent_agentpay_passage
    set AgentId = #{agentId,jdbcType=BIGINT},
      AgentpayPassageId = #{agentpayPassageId,jdbcType=INTEGER},
      FeeEvery = #{feeEvery,jdbcType=BIGINT},
      Status = #{status,jdbcType=TINYINT},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      UpdateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>