<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xxpay.service.dao.mapper.PayPassageMapper" >
  <resultMap id="BaseResultMap" type="org.xxpay.core.entity.PayPassage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="PayInterfaceId" property="payInterfaceId" javaType="INTEGER"/>
    <result column="PassageName" property="passageName" jdbcType="VARCHAR" />
    <result column="IfCode" property="ifCode" jdbcType="VARCHAR" />
    <result column="IfTypeCode" property="ifTypeCode" jdbcType="VARCHAR" />
    <result column="PayType" property="payType" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="TINYINT" />
    <result column="PassageRate" property="passageRate" jdbcType="DECIMAL" />
    <result column="MaxDayAmount" property="maxDayAmount" jdbcType="BIGINT" />
    <result column="MaxEveryAmount" property="maxEveryAmount" jdbcType="BIGINT" />
    <result column="MinEveryAmount" property="minEveryAmount" jdbcType="BIGINT" />
    <result column="TradeStartTime" property="tradeStartTime" jdbcType="VARCHAR" />
    <result column="TradeEndTime" property="tradeEndTime" jdbcType="VARCHAR" />
    <result column="RiskStatus" property="riskStatus" jdbcType="TINYINT" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>


  <resultMap id="BaseResultStatisticsMap" type="org.xxpay.core.entity.PayPassageStatistics" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="PassageName" property="passageName" jdbcType="VARCHAR"/>
    <result column="passageRate" property="passageRate" jdbcType="VARCHAR" />
    <result column="twoDaysRecharge" property="twoDaysRecharge" jdbcType="INTEGER" />
    <result column="oneDaysRecharge" property="oneDaysRecharge" jdbcType="INTEGER" />
    <result column="currentDaysRecharge" property="currentDaysRecharge" jdbcType="INTEGER" />
    <result column="successOrdersNumber" property="successOrdersNumber" jdbcType="INTEGER" />
    <result column="MchIncome" property="mchIncome" jdbcType="BIGINT" />


    <result column="successRate" property="successRate" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id,PayInterfaceId, PassageName, IfCode, IfTypeCode, PayType, Status, PassageRate, MaxDayAmount,
    MaxEveryAmount, MinEveryAmount, TradeStartTime, TradeEndTime, RiskStatus, Remark, 
    CreateTime, UpdateTime,CallbackIp
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.xxpay.core.entity.PayPassageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_pay_passage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>


  <select id="selectStatistics" resultMap="BaseResultStatisticsMap" parameterType="org.xxpay.core.entity.PayPassageStatistics" >
    select id,PassageName,PassageRate,twoDaysRecharge,oneDaysRecharge,currentDaysRecharge,ordersNumber,MchIncome, successOrdersNumber,FORMAT((successOrdersNumber/ordersNumber*100),2) as successRate  from t_pay_passage
    left join (select PassageId,sum(Amount) as currentDaysRecharge , count(0) as successOrdersNumber ,sum(MchIncome) as MchIncome from t_pay_order where `status` in(3)
    and CreateTime <![CDATA[ > ]]> "${createTimeStart}" and CreateTime <![CDATA[ < ]]>  "${createTimeEnd}"
    GROUP BY PassageId) acc on acc.PassageId=t_pay_passage.id


    left join (select PassageId, count(0) as ordersNumber from t_pay_order    where
    CreateTime <![CDATA[ > ]]> "${createTimeStart}" and CreateTime  <![CDATA[ < ]]> "${createTimeEnd}"  GROUP BY PassageId
    ) bcc  on bcc.PassageId=t_pay_passage.id

    left join (select PassageId,sum(Amount) as twoDaysRecharge from t_pay_order  where
    CreateTime <![CDATA[ > ]]> "${twoDaysDate} 00:00:00" and CreateTime  <![CDATA[ <  ]]>"${twoDaysDate} 23:59:59" and
    `status` in(3)    GROUP BY PassageId
    )ccc on   ccc.PassageId=t_pay_passage.id

    left join (select PassageId,sum(Amount) as oneDaysRecharge  from t_pay_order   where
    CreateTime <![CDATA[ > ]]> "${oneDaysDate} 00:00:00" and CreateTime  <![CDATA[ <  ]]>  "${oneDaysDate} 23:59:59" and
    `status` in(3)    GROUP BY PassageId
    )dcc on   dcc.PassageId=t_pay_passage.id
    <if test="id != null and id != -99" >
      where id =#{id}
    </if>
    order by currentDaysRecharge desc
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>


  <select id="channelSum" resultType="java.util.HashMap" parameterType="org.xxpay.core.entity.PayPassageStatistics" >
    select sum(currentDaysRecharge) as currentDaysRecharge,sum(oneDaysRecharge)as oneDaysRecharge,sum(twoDaysRecharge) as twoDaysRecharge from (
    SELECT
    sum( Amount ) AS currentDaysRecharge,0 AS oneDaysRecharge,0  AS twoDaysRecharge
    FROM
    t_pay_order
    WHERE
    `status` in(3)
    and CreateTime <![CDATA[ > ]]> "${createTimeStart}" and CreateTime <![CDATA[ < ]]>  "${createTimeEnd}"

    union all
    SELECT
    0,
    sum( Amount ) AS oneDaysRecharge ,0
    FROM
    t_pay_order
    WHERE
    CreateTime <![CDATA[ > ]]> "${oneDaysDate} 00:00:00" and CreateTime  <![CDATA[ <  ]]>  "${oneDaysDate} 23:59:59" and
    `status` in(3)

    union all
    SELECT
    0,0,
    sum( Amount ) AS twoDaysRecharge
    FROM
    t_pay_order
    WHERE
    CreateTime <![CDATA[ > ]]> "${twoDaysDate} 00:00:00" and CreateTime  <![CDATA[ <  ]]>"${twoDaysDate} 23:59:59" and
    `status` in(3) )bcc
  </select>




  <select id="findByPayInterfaceId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
      select
      <include refid="Base_Column_List" />
      from t_pay_passage
      where PayInterfaceId = #{payInterfaceId,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_pay_passage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_pay_passage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.xxpay.core.entity.PayPassageExample" >
    delete from t_pay_passage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.xxpay.core.entity.PayPassage" >
    insert into t_pay_passage (id, PassageName, IfCode, 
      IfTypeCode, PayType, Status, 
      PassageRate, MaxDayAmount, MaxEveryAmount, 
      MinEveryAmount, TradeStartTime, TradeEndTime, 
      RiskStatus, Remark, CreateTime, 
      UpdateTime)
    values (#{id,jdbcType=INTEGER}, #{passageName,jdbcType=VARCHAR}, #{ifCode,jdbcType=VARCHAR}, 
      #{ifTypeCode,jdbcType=VARCHAR}, #{payType,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{passageRate,jdbcType=DECIMAL}, #{maxDayAmount,jdbcType=BIGINT}, #{maxEveryAmount,jdbcType=BIGINT}, 
      #{minEveryAmount,jdbcType=BIGINT}, #{tradeStartTime,jdbcType=VARCHAR}, #{tradeEndTime,jdbcType=VARCHAR}, 
      #{riskStatus,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.xxpay.core.entity.PayPassage" >
    insert into t_pay_passage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="payInterfaceId != null" >
        PayInterfaceId,
      </if>
      <if test="passageName != null" >
        PassageName,
      </if>
      <if test="ifCode != null" >
        IfCode,
      </if>
      <if test="ifTypeCode != null" >
        IfTypeCode,
      </if>
      <if test="payType != null" >
        PayType,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="passageRate != null" >
        PassageRate,
      </if>
      <if test="maxDayAmount != null" >
        MaxDayAmount,
      </if>
      <if test="maxEveryAmount != null" >
        MaxEveryAmount,
      </if>
      <if test="minEveryAmount != null" >
        MinEveryAmount,
      </if>
      <if test="tradeStartTime != null" >
        TradeStartTime,
      </if>
      <if test="tradeEndTime != null" >
        TradeEndTime,
      </if>
      <if test="riskStatus != null" >
        RiskStatus,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
      <if test="callbackIp != null" >
        CallbackIp
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="payInterfaceId != null" >
        #{payInterfaceId,jdbcType=INTEGER},
      </if>
      <if test="passageName != null" >
        #{passageName,jdbcType=VARCHAR},
      </if>
      <if test="ifCode != null" >
        #{ifCode,jdbcType=VARCHAR},
      </if>
      <if test="ifTypeCode != null" >
        #{ifTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="passageRate != null" >
        #{passageRate,jdbcType=DECIMAL},
      </if>
      <if test="maxDayAmount != null" >
        #{maxDayAmount,jdbcType=BIGINT},
      </if>
      <if test="maxEveryAmount != null" >
        #{maxEveryAmount,jdbcType=BIGINT},
      </if>
      <if test="minEveryAmount != null" >
        #{minEveryAmount,jdbcType=BIGINT},
      </if>
      <if test="tradeStartTime != null" >
        #{tradeStartTime,jdbcType=VARCHAR},
      </if>
      <if test="tradeEndTime != null" >
        #{tradeEndTime,jdbcType=VARCHAR},
      </if>
      <if test="riskStatus != null" >
        #{riskStatus,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="callbackIp != null" >
        #{callbackIp,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.xxpay.core.entity.PayPassageExample" resultType="java.lang.Integer" >
    select count(*) from t_pay_passage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_pay_passage
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.passageName != null" >
        PassageName = #{record.passageName,jdbcType=VARCHAR},
      </if>
      <if test="record.ifCode != null" >
        IfCode = #{record.ifCode,jdbcType=VARCHAR},
      </if>
      <if test="record.ifTypeCode != null" >
        IfTypeCode = #{record.ifTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.payType != null" >
        PayType = #{record.payType,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        Status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.passageRate != null" >
        PassageRate = #{record.passageRate,jdbcType=DECIMAL},
      </if>
      <if test="record.maxDayAmount != null" >
        MaxDayAmount = #{record.maxDayAmount,jdbcType=BIGINT},
      </if>
      <if test="record.maxEveryAmount != null" >
        MaxEveryAmount = #{record.maxEveryAmount,jdbcType=BIGINT},
      </if>
      <if test="record.minEveryAmount != null" >
        MinEveryAmount = #{record.minEveryAmount,jdbcType=BIGINT},
      </if>
      <if test="record.tradeStartTime != null" >
        TradeStartTime = #{record.tradeStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeEndTime != null" >
        TradeEndTime = #{record.tradeEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.riskStatus != null" >
        RiskStatus = #{record.riskStatus,jdbcType=TINYINT},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CreateTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UpdateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_pay_passage
    set id = #{record.id,jdbcType=INTEGER},
      PassageName = #{record.passageName,jdbcType=VARCHAR},
      IfCode = #{record.ifCode,jdbcType=VARCHAR},
      IfTypeCode = #{record.ifTypeCode,jdbcType=VARCHAR},
      PayType = #{record.payType,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=TINYINT},
      PassageRate = #{record.passageRate,jdbcType=DECIMAL},
      MaxDayAmount = #{record.maxDayAmount,jdbcType=BIGINT},
      MaxEveryAmount = #{record.maxEveryAmount,jdbcType=BIGINT},
      MinEveryAmount = #{record.minEveryAmount,jdbcType=BIGINT},
      TradeStartTime = #{record.tradeStartTime,jdbcType=VARCHAR},
      TradeEndTime = #{record.tradeEndTime,jdbcType=VARCHAR},
      RiskStatus = #{record.riskStatus,jdbcType=TINYINT},
      Remark = #{record.remark,jdbcType=VARCHAR},
      CreateTime = #{record.createTime,jdbcType=TIMESTAMP},
      UpdateTime = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="org.xxpay.core.entity.PayPassage" >
    update t_pay_passage
    <set >
      <if test="passageName != null" >
        PassageName = #{passageName,jdbcType=VARCHAR},
      </if>
      <if test="ifCode != null" >
        IfCode = #{ifCode,jdbcType=VARCHAR},
      </if>
      <if test="ifTypeCode != null" >
        IfTypeCode = #{ifTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        PayType = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=TINYINT},
      </if>
      <if test="passageRate != null" >
        PassageRate = #{passageRate,jdbcType=DECIMAL},
      </if>
      <if test="maxDayAmount != null" >
        MaxDayAmount = #{maxDayAmount,jdbcType=BIGINT},
      </if>
      <if test="maxEveryAmount != null" >
        MaxEveryAmount = #{maxEveryAmount,jdbcType=BIGINT},
      </if>
      <if test="minEveryAmount != null" >
        MinEveryAmount = #{minEveryAmount,jdbcType=BIGINT},
      </if>
      <if test="tradeStartTime != null" >
        TradeStartTime = #{tradeStartTime,jdbcType=VARCHAR},
      </if>
      <if test="tradeEndTime != null" >
        TradeEndTime = #{tradeEndTime,jdbcType=VARCHAR},
      </if>
      <if test="riskStatus != null" >
        RiskStatus = #{riskStatus,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callbackIp != null" >
        CallbackIp = #{callbackIp,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updatePassage" parameterType="org.xxpay.core.entity.PayPassage" >
    update t_pay_passage
    <set >
      <if test="passageName != null" >
        PassageName = #{passageName,jdbcType=VARCHAR},
      </if>
      <if test="ifCode != null" >
        IfCode = #{ifCode,jdbcType=VARCHAR},
      </if>
      <if test="ifTypeCode != null" >
        IfTypeCode = #{ifTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        PayType = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=TINYINT},
      </if>
      <if test="passageRate != null" >
        PassageRate = #{passageRate,jdbcType=DECIMAL},
      </if>
      <if test="maxDayAmount != null" >
        MaxDayAmount = #{maxDayAmount,jdbcType=BIGINT},
      </if>
      <if test="maxEveryAmount != null" >
        MaxEveryAmount = #{maxEveryAmount,jdbcType=BIGINT},
      </if>
      <if test="minEveryAmount != null" >
        MinEveryAmount = #{minEveryAmount,jdbcType=BIGINT},
      </if>
      <if test="tradeStartTime != null" >
        TradeStartTime = #{tradeStartTime,jdbcType=VARCHAR},
      </if>
      <if test="tradeEndTime != null" >
        TradeEndTime = #{tradeEndTime,jdbcType=VARCHAR},
      </if>
      <if test="riskStatus != null" >
        RiskStatus = #{riskStatus,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PayInterfaceId = #{payInterfaceId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="org.xxpay.core.entity.PayPassage" >
    update t_pay_passage
    set PassageName = #{passageName,jdbcType=VARCHAR},
      IfCode = #{ifCode,jdbcType=VARCHAR},
      IfTypeCode = #{ifTypeCode,jdbcType=VARCHAR},
      PayType = #{payType,jdbcType=VARCHAR},
      Status = #{status,jdbcType=TINYINT},
      PassageRate = #{passageRate,jdbcType=DECIMAL},
      MaxDayAmount = #{maxDayAmount,jdbcType=BIGINT},
      MaxEveryAmount = #{maxEveryAmount,jdbcType=BIGINT},
      MinEveryAmount = #{minEveryAmount,jdbcType=BIGINT},
      TradeStartTime = #{tradeStartTime,jdbcType=VARCHAR},
      TradeEndTime = #{tradeEndTime,jdbcType=VARCHAR},
      RiskStatus = #{riskStatus,jdbcType=TINYINT},
      Remark = #{remark,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      UpdateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>