
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>商户组管理</cite></a>
    <a><cite>所有商户</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-tab layui-tab-brief">
      <ul class="layui-tab-title">
        <li class="layui-this">商户组列表</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <div class="layui-row">
            <div class="layui-form" style="float:right;">
              <div class="layui-form-item" style="margin:0;">
                <div class="layui-input-inline">
                  <input type="text" name="mchGroupId" id="mchGroupId" placeholder="商户组ID" autocomplete="off" class="layui-input">
                </div>

                <div class="layui-input-inline">
                  <input type="text" name="mchGroupName" id="mchGroupName" placeholder="商户组名称" autocomplete="off" class="layui-input">
                </div>
                <button id="search" class="layui-btn" data-type="reload">搜索</button>
              </div>
            </div>
          </div>
          <div class="layui-row">
            <div class="layuiAdmin-btns" style="margin-bottom: 10px;">
              <a class="layui-btn" lay-href="merchantgroup/list/mch_group_add">新增</a>
            </div>
          </div>
          <table id="XxPay_Mgr_MerchantGroup_dataAll" lay-filter="XxPay_Mgr_MerchantGroup_dataAll"></table>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  layui.use(['admin', 'table', 'util'], function(){
    var $ = layui.$
            ,admin = layui.admin
            ,table = layui.table
            ,element = layui.element
            ,form = layui.form;

    element.render('breadcrumb', 'breadcrumb');

    var tplStatus = function(d){
      if(d.status == 1) {
        return "<span style='color: green'>启用</span>";
      }
      return "<span style='color: red'>停止</span>";
    };

    var tplEdit = function(d){
      return  "<a class='layui-btn layui-btn-primary layui-btn-xs' lay-event='payPassage'>支付通道</a>" +
              "<a class='layui-btn layui-btn-xs' lay-event='edit'>编辑</a>";
    };

    //商户列表
    table.render({
      elem: '#XxPay_Mgr_MerchantGroup_dataAll'
      ,url: layui.setter.baseUrl + '/mch_group/queryMchGroups' //列表接口
      ,where: {
          access_token: layui.data(layui.setter.tableName).access_token
      }
      ,id: 'tableReload'
      ,page: true
      ,cols: [[
        {type: 'checkbox', fixed: 'left'}
        ,{field: 'groupId', title: '商户组ID',width:200}
        ,{field: 'groupName', title: '商户组名称',width:200}
        ,{field: 'rate', title: '商户组费率',width:200}
        ,{field: 'edit', title: '操作' ,templet: tplEdit }
      ]]
    });

    //监听工具条
    table.on('tool(XxPay_Mgr_MerchantGroup_dataAll)', function(obj){
      var data = obj.data;
      if(obj.event === 'edit'){
        //编辑
        location.href = layui.setter.baseLocal + "merchantgroup/list/mch_group_edit/mchGroupId=" + data.groupId;
      } else if(obj.event === 'payPassage'){
        //支付通道设置
        location.href = layui.setter.baseLocal + "merchantgroup/pay_passage/list/mchGroupId=" + data.groupId;
      }
    });

    // 搜索
    var $ = layui.$, active = {
      reload: function(){
        var mchGroupId = $('#mchGroupId').val();
        var mchGroupName = $('#mchGroupName').val();
        //执行重载
        table.reload('tableReload', {
          page: {
            curr: 1 //重新从第 1 页开始
          }
          ,where: {
            mchGroupId: mchGroupId,
            mchGroupName:mchGroupName
          }
        });
      }
    };
    $('#search').on('click', function() {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

    // 渲染表单
    form.render();
  });
</script>